<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CK Bank | Đổi mật khẩu</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header headermana">

        <a href="/index" class="logo">
            <img src="/images/Flash.png" alt="">
        </a>

        <nav class="navbar ulnav">
            <!-- Chức năng chung -->
            <a href="/index">Home</a>
            <!-- Chức năng admin -->

            {{#if user.auth}}
            <li class="dropdown">
                <a href="manager.html" class="dropbtn">Manage</a>
                <div class="dropdown-content">
                    <a href="manager.html#kichhoat">Chờ kích hoạt</a>
                    <a href="manager.html#kichhoated">Đã kích hoạt</a>
                    <a href="manager.html#vohieu">Bị vô hiệu hóa</a>
                    <a href="manager.html#khoa">Bị khóa vô thời hạn</a>
                    <a href="manager.html#gdrut">Giao dịch rút tiền</a>
                    <a href="manager.html#gdchuyen">Giao dịch chuyển tiền</a>
                </div>
            </li>
            {{/if}}

            <!-- Chức năng chung -->
            <a href="/index#about">About</a>
            <a href="/index#menu">Menu</a>
            <a href="/index#products">Card</a>
            <a href="/index#contact">Contact</a>
            <a href="/logout">Logout</a>

        </nav>

        <div class="icons">
            <div id="user-btn">
                <a href="/info" class="fa-solid fa-user"></a>
            </div>

            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

    </header>



    <section class="about-me" id="about-me">


        <div class="container container-about-me" id="">
            <div class="title">Đổi mật khẩu</div>


            <div id="wrapper-changepass" class="wrapper">
                <form class="form-changepass" id="form-changepass" onsubmit="return false;">

                    <div class="form-group form-group-changepass ">
                        <i class="fas fa-key"></i>
                        <input value="" type="password" class="form-input form-input-changepass" id="pwd" placeholder="Nhập mật khẩu cũ" name="pwd">
                        <div onclick="eye()" id="eye">
                            <i class="far fa-eye"></i>
                        </div>
                    </div>

                    <div class="form-group form-group-changepass ">
                        <i class="fas fa-key"></i>
                        <input value="" type="password" class="form-input form-input-changepass" id="pwdnew" placeholder="Nhập mật khẩu mới" name="pwdnew">
                        <div onclick="eye()" id="eye2">
                            <i class="far fa-eye"></i>
                        </div>
                    </div>

                    <div class="form-group form-group-changepass">
                        <i class="fas fa-key"></i>
                        <input value="" type="password" class="form-input form-input-changepass" id="pwdconfirm" placeholder="Xác nhận mật khẩu mới" name="pwdconfirm">
                        <div onclick="eye()" id="eye1">
                            <i class="far fa-eye"></i>
                        </div>
                    </div>

                    <div class="alert" id="errorMessage" style="display: none;">
                        <span class="fas fa-exclamation-circle"></span>
                        <span class="msg" id="error"></span>
                    </div>

                    <div id="dialogCont" class="dig-container" style="display: none;">
                            <div class="dig-header">
                                Đổi mật khẩu
                            </div>
                            <div id="digbody" class="dig-body">
                                <h4 id="success"></h4>
                            </div>
                            <div class="dig-footer">
                                <a id="close">Đóng</a>
                            </div>
                        </div>

                    <div class="changepass-button">
                        <button class="form-submit" type="submit" class="btn btn-default">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </section>



    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
        </div>

        <div class="links">
            <a href="/index">home</a>
            <a href="/index#about">about</a>
            <a href="/index#menu">menu</a>
            <a href="/index#products">card</a>
            <a href="/index#contact">contact</a>
        </div>

        <div class="credit">created by <span>us</span></div>

    </section>


    <script src="/js/main.js"></script>

</body>

</html>