<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CK Bank | Đổi mật khẩu</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header class="header headermana">

        <a href="/index" class="logo">
            <img src="../images/Flash.png" alt="">
        </a>

        <nav class="navbar ulnav">
            <!-- Chức năng chung -->
            <a href="/index">Home</a>
            <!-- Chức năng admin -->

            <li class="dropdown">
                <a href="manager.html" class="dropbtn">Manage</a>
                <div class="dropdown-content">
                    <a href="manager.html#kichhoat">Chờ kích hoạt</a>
                    <a href="manager.html#kichhoated">Đã kích hoạt</a>
                    <a href="manager.html#vohieu">Bị vô hiệu hóa</a>
                    <a href="manager.html#khoa">Bị khóa vô thời hạn</a>
                    <a href="manager.html#gdrut">Giao dịch rút tiền</a>
                    <a href="manager.html#gdchuyen">Giao dịch chuyển tiền</a>
                </div>
            </li>

            <!-- Chức năng chung -->
            <a href="index.html#about">About</a>
            <a href="index.html#menu">Menu</a>
            <a href="index.html#products">Card</a>
            <a href="index.html#contact">Contact</a>
            <a href="index.html#logout">Logout</a>

        </nav>

        <div class="icons">
            <div id="user-btn">
                <a href="/info" class="fa-solid fa-user"></a>
            </div>

            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

    </header>



    <section class="about-me" id="about-me">


        <div class="container container-about-me">
            <div class="title">Đổi mật khẩu</div>
            <div class="content content-about-me content-changepass">
                <form class="form-about-me" id="form-about-me" onsubmit="return false;">
                    <div class="user-details changepass-user">
                        <div class="input-box">
                            <span class="details">Mật khẩu cũ</span>
                            <input type="password" id="pwd" name="pwd" placeholder="Nhập mật khẩu cũ">
                            {{!-- <div onclick="eye()" id="eye">
                                <i class="far fa-eye"></i>
                            </div> --}}
                        </div>

                        <div class="input-box">
                            <span class="details">Mật khẩu mới</span>
                            <input type="password" id="pwdnew" name="pwdnew" placeholder="Nhập mật khẩu mới">
                        </div>
                        <div class="input-box">
                            <span class="details">Xác nhận mật khẩu mới</span>
                            <input type="password" id="pwdcf" name="pwdcf" placeholder="Xác nhận mật khẩu mới">
                        </div>
                    </div>

                    <div id="errorMessage" class="errorMessage my-3" style="display: none;">
                        <div id="error" class='alert alert-danger'></div>
                    </div>

                    <div id="dialogCont" class="dig-container" style="display: none;">
                            <div class="dig-header">
                                Đổi mật khẩu
                            </div>
                            <div id="digbody" class="dig-body">
                                <h4 id="success" style="text-align: center;"></h4>
                            </div>
                            <div class="dig-footer">
                                <a id="close">Đóng</a>
                            </div>
                        </div>

                    <div class="button">
                        <input type="submit" value="Đổi mật khẩu">
                    </div>
                </form>
 
            </div>
            </div>
        </div>





    </section>






    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
        </div>

        <div class="links">
            <a href="index.html">home</a>
            <a href="index.html#about">about</a>
            <a href="index.html#menu">menu</a>
            <a href="index.html#products">card</a>
            <a href="index.html#contact">contact</a>
        </div>

        <div class="credit">created by <span>us</span></div>

    </section>


    <script src="../js/infochangepass.js"></script>

</body>

</html>