<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CK Bank</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="login-body">


    <div id="wrapper" class="wrapper">


        <form class="form-login" id="form-login" method="post" action="/auth/forgot">
            <h1 class="form-heading">Forgot Password</h1>
            
            <div class="form-group form-group-admin ">
                <i class="fa-solid fa-envelope"></i>
                <input type="text" class="form-input form-input-admin" id="email" placeholder="Enter your email" name="email">
            </div>

            {{!-- <div class="form-group form-group-admin">
                <i class="fa-solid fa-phone"></i>
                <input value="" type="number" class="form-input form-input-admin" id="phonenum" placeholder="Enter your phone number" name="phonenum">
            </div> --}}
            {{#if msg}}
            <div id="errorMessage" class="errorMessage my-3">
                <div class='alert alert-danger' id="error">{{msg}}</div>
            </div>
            {{/if}}

            {{#if success}}
            <div id="dialogCont" class="dig-container" >
                <div class="dig-header">
                    Gửi otp
                </div>
                    <div id="digbody" class="dig-body">
                        <h4 id="success"> {{success}}</h4>
                    </div>
                <div class="dig-footer">
                    <a href="/otp">Chuyển sang trang nhập OTP</a>
                </div>
            </div>
            {{/if}}

            <button class="form-submit" type="submit" class="btn btn-default">Send OTP</button>
        </form>



    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="js/main.js"></script>
</body>

</html>