<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CK Bank | Mua thẻ</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header headermana">

        <a href="index.html" class="logo">
            <img src="images/Flash.png" alt="">
        </a>

        <nav class="navbar ulnav">
            <!-- Chức năng chung -->
            <a href="index.html">Home</a>
            <!-- Chức năng admin -->

            <li class="dropdown">
                <a href="manager.html" class="dropbtn">Manage</a>
                <div class="dropdown-content">
                    <a href="manager.html#kichhoat">Chờ kích hoạt</a>
                    <a href="manager.html#kichhoated">Đã kích hoạt</a>
                    <a href="manager.html#vohieu">Bị vô hiệu hóa</a>
                    <a href="manager.html#khoa">Bị khóa vô thời hạn</a>
                    <a href="manager.html#gdrut">Giao dịch rút tiền</a>
                    <a href="manager.html#gdchuyen">Giao dịch chuyển tiền</a>
                </div>
            </li>

            <!-- Chức năng chung -->
            <a href="index.html#about">About</a>
            <a href="index.html#menu">Menu</a>
            <a href="index.html#products">Card</a>
            <a href="index.html#contact">Contact</a>
            <a href="index.html#logout">Logout</a>

        </nav>

        <div class="icons">
            <div id="user-btn">
                <a href="info.html" class="fa-solid fa-user"></a>
            </div>

            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

    </header>



    <section class="about-me" id="about-me">

        <div class="container container-about-me">
            <div class="title">Mua thẻ cào</div>
            <div class="content content-about-me">
                <form class="form-about-me" action="#">

                    <div class="user-details">

                        <div class="input-box">
                            <span class="details">Tên thẻ</span>
                            <input value="Vinaphone" type="text" placeholder="" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Mã thẻ</span>
                            <input value="33333" type="text" placeholder="" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Mệnh giá</span>
                            <input value="20.000" type="text" placeholder="" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Số lượng</span>
                            <input value="5" type="text" placeholder="" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Tổng tiền</span>
                            <input value="100.000" type="text" placeholder="" required>
                        </div>
                    </div>


                    <div class="button">
                        <input type="submit" value="Mua thẻ">
                    </div>
                </form>
            </div>
        </div>

    </section>





    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
        </div>

        <div class="links">
            <a href="index.html">home</a>
            <a href="index.html#about">about</a>
            <a href="index.html#menu">menu</a>
            <a href="index.html#products">card</a>
            <a href="index.html#contact">contact</a>
        </div>

        <div class="credit">created by <span>us</span></div>

    </section>


    <script src="js/script.js"></script>

</body>

</html>