<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CK Bank | Register</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="about-me register-form" id="about-me">

        <div class="container container-about-me">
            <div class="title">Register</div>
            <div class="content content-about-me">
                <form class="form-about-me" onsubmit="return false;"; id="form">
                    <div id="content-img">
                        <div class="about-me-image">
                            <img src="/images/empicon.jpg" class="rounded-circle " width="150">
                        </div>
                    </div>
                    <!-- <div class="about-me-image">
                        <img src="images/empicon.jpg" class="rounded-circle " width="150">
                    </div>

                    <div class="about-me-image about-me-image2">
                        <img src="images/ngoc.jpg" class="rounded-circle " width="150">
                    </div> -->

                    <div class="user-details">

                        <div class="input-box">
                            <span class="details">Họ và tên</span>
                            <input type="text" placeholder="" id="nameeee" name="nameeee">
                        </div>
                        <div class="input-box">
                            <span class="details">Ngày sinh</span>
                            <input type="text" placeholder="" id="birth" name="birth" >
                        </div>
                        <div class="input-box">
                            <span class="details">Email</span>
                            <input type="text" placeholder="" id="email" name="email" >
                        </div>
                        <div class="input-box">
                            <span class="details">Số điện thoại</span>
                            <input type="text" placeholder="" id="phone" name="phone" >
                        </div>
                        <div class="input-box">
                            <span class="details">CMND/CCCD</span>
                            <input type="text" placeholder="" id="cmnd" name="cmnd">
                        </div>
                        <div class="input-box">
                            <span class="details">Địa chỉ</span>
                            <input type="text" placeholder="" id="address" name="address" >
                        </div>
                        <div class="input-box">
                            <span class="details">Mặt trước CMND</span>
                            <input class="file-upload-input" type="file">
                        </div>
                        <div class="input-box">
                            <span class="details">Mặt sau CMND</span>
                            <input class="file-upload-input" type="file">
                        </div>
                    </div>
                    
                        <div id="dialogCont" class="dig-container" style="display: none;">
                            <div class="dig-header">
                                Đăng ký thành công
                            </div>
                            <div id="digbody" class="dig-body">
                                <h4 id="success"></h4>
                            </div>
                            <div class="dig-footer">
                                <a href="http://localhost:9090/login">Chuyển về trang đăng nhập</a>
                            </div>
                        </div>
                    

                    <div class="alert" id="alerterror" style="display: none;">
                        <span class="fas fa-exclamation-circle"></span>
                        <span class="msg" id="error"></span>
                    </div>


                    <div class="button register-button">
                        {{!-- <input type="button" value="Back" id="Backbutn">
                        <input type="submit" value="Register"> --}}
                        <button type="button" class="regisbutton"><a href="http://localhost:9090/login">Back</a></button>
                        <button type="submit" class="regisbutton"><a>Register</a></button>
                    </div>
                </form>
            </div>
        </div>

    </section>






    <script src="/js/Register.js"></script>

</body>

</html>